@model IEnumerable<University.Common.Models.Log.ApiDataLog>

@{
    ViewBag.Title = "Request Data";
}
<h2>Request Data</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Data Log</th>
        <th>Verb Name</th>
        <th>Date</th>
        <th>UserID</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.ApiDataLogId
            </td>
            <td>
                @item.DataLog
            </td>
            <td>
                @item.VerbName
            </td>
            <td>
                @item.CreatedOn
            </td>
            <td>
                @item.CreatedBy
            </td>
        </tr>
    }

</table>
